Repository CogappLabs/search-api-elysia: changes, and which lefthook commands are due for each by the changed paths.
All: biome, build-types

biome:
  run: bunx @biomejs/biome check --no-errors-on-unmatched {staged_files}

build-types:
  run: bun run build:types && git add dist/

Update lockfile after moving eden to peerDependencies
  bun.lock
Due: none

Update CLAUDE.md with Railway, build:types, and deployment notes
  CLAUDE.md
Due: none

Fix cross-directory relative links in docs (use ../../ for different dirs)
  docs/src/content/docs/features/filters.mdx
  docs/src/content/docs/features/geo-map.mdx
  docs/src/content/docs/features/histograms.mdx
  docs/src/content/docs/guides/configuration.mdx
  docs/src/content/docs/guides/getting-started.mdx
  docs/src/content/docs/reference/facets.mdx
  docs/src/content/docs/reference/mapping.mdx
  docs/src/content/docs/reference/search.mdx
Due: none

Add Starlight components, GH Actions badge, and llms.txt
  README.md
  bun.lock
  docs/astro.config.mjs
  docs/src/components/overrides/SocialIcons.astro
  docs/src/content/docs/features/caching.mdx
  docs/src/content/docs/features/eden-client.mdx
  docs/src/content/docs/features/filters.mdx
  docs/src/content/docs/features/histograms.mdx
  docs/src/content/docs/features/instantsearch.mdx
  docs/src/content/docs/guides/adding-an-engine.mdx
  docs/src/content/docs/guides/configuration.mdx
  docs/src/content/docs/guides/getting-started.mdx
  docs/src/content/docs/reference/mapping.mdx
  docs/src/content/docs/reference/search.mdx
  package.json
Due: biome

Add "Why an API layer?" section to docs homepage and README
  README.md
  docs/src/content/docs/index.mdx
Due: none

Add missing documentation pages and fill gaps in existing docs
  docs/astro.config.mjs
  docs/src/content/docs/guides/authentication.mdx
  docs/src/content/docs/guides/configuration.mdx
  docs/src/content/docs/guides/getting-started.mdx
  docs/src/content/docs/reference/health.mdx
  docs/src/content/docs/reference/indexes.mdx
  docs/src/content/docs/reference/search.mdx
Due: none

Simplify boost precedence docs to match actual behaviour
  docs/src/content/docs/reference/search.mdx
Due: none

Add server-timing, guard-based auth, shared models, and graceful shutdown
  bun.lock
  dist/index.d.ts
  dist/models.d.ts
  dist/routes/instantsearch.d.ts
  dist/routes/search-api.d.ts
  package.json
  src/index.ts
  src/models.ts
  src/routes/instantsearch.ts
  src/routes/search-api.ts
  test/routes.test.ts
Due: biome, build-types

Add CI workflow for PRs and main branch pushes
  .github/workflows/ci.yml
Due: none

Extract deriveFromFields to src/fields.ts to fix CI test failure
  src/fields.ts
  src/index.ts
  test/config.test.ts
Due: biome

Add Typesense engine and fix cross-engine mapping inconsistencies
  bun.lock
  config.example.yaml
  config.yaml
  dist/engines/typesense.d.ts
  dist/fields.d.ts
  dist/index.d.ts
  dist/types.d.ts
  docs/src/content/docs/guides/adding-an-engine.mdx
  docs/src/content/docs/guides/configuration.mdx
  package.json
  schemas/config.schema.json
  scripts/test-all-endpoints.ts
  src/config.ts
  src/engines/index.ts
  src/engines/meilisearch.ts
  src/engines/opensearch.ts
  src/engines/typesense.ts
  src/index.ts
  src/types.ts
  test/typesense.test.ts
Due: biome, build-types

Add nested aggregations, disjunctive facets docs/tests, and rename esField to field
  CLAUDE.md
  config.example.yaml
  config.yaml
  dist/engines/elastic-compat.d.ts
  dist/index.d.ts
  dist/routes/search-api.d.ts
  dist/types.d.ts
  docs/astro.config.mjs
  docs/src/content/docs/features/disjunctive-facets.mdx
  docs/src/content/docs/features/field-aliases.mdx
  docs/src/content/docs/guides/configuration.mdx
  docs/src/content/docs/reference/facets.mdx
  schemas/config.schema.json
  scripts/seed-nested-data.ts
  scripts/test-all-endpoints.ts
  src/config.ts
  src/engines/elastic-compat.ts
  src/fields.ts
  src/types.ts
  test/config.test.ts
  test/elasticsearch.test.ts
Due: biome, build-types

Remove leftover ES-specific wording from field config docs
  docs/src/content/docs/guides/configuration.mdx
Due: none

Path conditions:
  biome: any of: *.{ts,js,json}
  build-types: any of: src/**/*.ts
